body {
    margin: 0;
    padding: 0;

    background-color: #F2F2F4;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: 'Montserrat', sans-serif;
}

/* ---------- HEADER ---------- */

.header {
    width: 100%;
    height: 100px;

    font-size: 23px;
    text-align: center;

    display: flex;
    justify-content: space-around;

    margin-bottom: 20px;
}

.header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-menu {
    width: 50%;

    font-size: 15px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-menu a {
    color: #000;
    text-decoration: none;
}

.menu-item {
    padding: 20px;
    cursor: pointer;
}

.current-page {
    background-color: #fff;
    opacity: 0.6;
}
/* ---------------------------- */
