body {
    margin: 0;
    padding: 0;

    background-color: #fff;

    width: 100vw;
    height: 100vh;

    background-image: url("../img/camera8.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 -160px;
}

.main {
    background-color: #fff;

    width: 100vw;
    height: 100vh;

    background-image: url("../img/camera8.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 -160px;
}

/* ------- HEADER ------- */
.header {
    width: 100%;
    height: 90px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-logo {
    width: 20%;
}

.header-logo img {
    height: 60px;
    padding-left: 30%;
    padding-top: 20px;
}

.header-profile {
    display: flex;
    justify-content: center;
    align-items: center;

    background: #bad9bf;
    cursor: pointer;

    width: 10%;
    padding: 10px;
}

.header-profile a {
    text-decoration: none;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    margin-right: 10px;
}

.header-menu {
    width: 40%;

    font-family: 'Kiwi Maru', serif;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-menu a {
    color: #000;
    text-decoration: none;
    margin: 30px;
}

.current-page {
    background-color: #F2F2F4;
    padding: 20px;
    color: #909090;
}

/* ---------------------- */

.form-block {
    width: 100%;
    height: available;

    display: flex;
    justify-content: flex-end;
    align-content: center;
}

.form {
    width: 450px;
    height: 520px;

    background: #F2F2F4;
    border-radius: 20px;

    margin: 20px 18%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-title {
    font-family: 'Kiwi Maru', serif;
    font-size: 20px;
    margin: 10px 0;
}

.form-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-form select {
    background-color: #fff;
    color: #000;
    border: 0;

    width: 350px;
    height: 35px;
    border-radius: 10px;

    margin: 10px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
}

.form-form select:focus {
    outline: none;
}

.form-form select option {
    color: #000;
    width: 350px;
    height: 75px;
    border: 0;
}

.form-form option:hover {
    background-color: #84dd85;
}

#submit-button {
    width: 200px;
    height: 35px;

    border: 0;
    cursor: pointer;

    background: #BA95BF;

    font-family: 'Kiwi Maru', serif;
    font-weight: 400;
    font-size: 15px;
    margin-top: 15px;
}

#submit-button:hover {
    color: #fff;
}

.input {
    background-color: #fff;
    color: #000;
    border: 0;

    width: 350px;
    height: 35px;
    border-radius: 10px;

    margin: 10px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
}

.input:focus {
    outline: none;
}


/*@media screen and (max-width: 1200px) {*/
/*    .form {*/
/*        margin: 20px 150px;*/
/*    }*/
/*}*/

/*@media screen and (max-width: 1200px) {*/
/*    .form {*/
/*        margin: 20px 150px;*/
/*    }*/
/*}*/



